.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

    gap:20px;

}

.stat-card{

    text-align:center;

}

.stat-card h3{

    color:#666;

    margin-bottom:15px;

}

.stat-card h1{

    color:#0B3C91;

    font-size:36px;

}
.report-grid{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;

}

.report-card{

    background:#fff;
    border-radius:10px;
    padding:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.report-card h3{

    color:#666;
    margin-bottom:10px;

}

.report-card h1{

    color:#1d4ed8;
    font-size:30px;

}